body {
    background-color: slategray
}
h1 {
    font-family:Impact; 
    color:deepskyblue; 
    font-size: 300%; 
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h2 {
    font-family:Impact; 
    color:red; 
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
p {
    font-family:Impact; 
    color:white; 
    margin-left: 20px;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
